## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Arraial Do Cabo,BR,76.96,few clouds,-22.9661,-42.0278,Pousada Porto Praia
1,3,Rosetta,EG,78.13,clear sky,31.4044,30.4164,Green Valley
2,7,Port-Gentil,GA,75.16,overcast clouds,-0.7193,8.7815,Fengshui Residence
3,10,Los Llanos De Aridane,ES,82.15,clear sky,28.6585,-17.9182,Valle Aridane
4,13,Vila Velha,BR,78.75,few clouds,-20.3297,-40.2925,Hotel Vit처ria Palace

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Weather Description</dt><dd>{Current Description}</dd>

<dt>Max Temp</dt><dd>{Max Temp} 째F</dd>

</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City=="Jamestown"]
vacation_end = vacation_df.loc[vacation_df.City=="Jamestown"]
vacation_stop1 = vacation_df.loc[vacation_df.City=="Brigantine"]
vacation_stop2 = vacation_df.loc[vacation_df.City=="Franklin"]
vacation_stop3 = vacation_df.loc[vacation_df.City=="Hamilton"]

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
15,36,Jamestown,US,78.94,scattered clouds,42.097,-79.2353,Hampton Inn & Suites Jamestown

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]


start

(42.097, -79.2353)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig2 = gmaps.figure(center=(42, -80), zoom_level=5.5)

vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')



fig2.add_layer(vacation_itinerary)

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,36,Jamestown,US,78.94,scattered clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,421,Brigantine,US,77.04,overcast clouds,39.4101,-74.3646,Legacy Vacation Resorts - Brigantine Beach
2,83,Franklin,US,77.22,overcast clouds,39.9667,-83.0166,Courtyard by Marriott Columbus Downtown
3,470,Hamilton,US,76.08,overcast clouds,39.1834,-84.5333,Six Acres Bed & Breakfast

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 

info_box_template = """

<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Weather Description</dt><dd>{Current Description}</dd>

<dt>Max Temp</dt><dd>{Max Temp} 째F</dd>

</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig2.add_layer(marker_layer)

# 11b. Display the figure

fig2

Figure(layout=FigureLayout(height='420px'))